.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
  align-items: center;
}

.h2 {
  text-align: center;
  color: black;
}

.filter {
  padding-x: 5rem;
  border: 5px solid;
  border: red;
}

.labelTitle {
  text-align: center;
  color: black;
  padding: 5px;
}

.optionTitle {
  padding: 5rem;
  border-radius: 1rem;
}
